* {
  box-sizing: border-box;
}

#newMemo {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  width: 10px;
  cursor: pointer;
}

#mainLoginBtn {
  border: 1px solid black;
border-radius: 5px;
width: 200px;
height: 70px;
font-size: xx-large;
display: flex;
justify-content: center;
align-items: center;
background-color:blanchedalmond;
cursor: pointer;
text-decoration: none;
}

#signUpBtn {
  border: 1px solid black;
border-radius: 5px;
width: 200px;
height: 70px;
font-size: xx-large;
display: flex;
justify-content: center;
align-items: center;
background-color:blanchedalmond;
cursor: pointer;
text-decoration: none;
}

.openPost {
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
  height: 300px;
}

.openMainPosts{
  display: flex;
  border: 1px solid black;
}

.firstTopicPost{
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
  height: 300px;
}

.secondTopicPost{
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
  height: 300px;
}

.thirdTopicPost{
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
  height: 300px;
}